.bg{
    background-color: #F5FFFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;   
}

.header{
    padding-top: 0px;
    background-color: #B3C7D0;
}

.main h1{
    text-decoration: underline;
    text-align:center;
}
.event h3{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.event h4{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 17px;
}

.event .friend a{
    text-decoration: none;
}

.event textarea{
    resize: none;
}

.event .click{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 25px;
    border-color: #B3C7D0;
}

.friendmenu{
    position:absolute;
	visibility:hidden;
	margin:0;
	padding:0;
    padding-bottom: 50px;
    border: 1px solid #fff;
    background-color: #B3C7D0;
    z-index: 100; /*High z-index brings it to front, lower z-index will be bring to back*/
}

.friendmenu li{
    display: inline;
    float: none;
    display: block;
    padding: 10px 15px;
    width: 280px;
}

.friendmenu li a:link, .friendmenu li a:visited{
    color: #F5FFFE;
    width: auto;
}

.friendmenu img{
    visibility: hidden;
}

.added{} /*Do not remove this!*/

.datepicker-start, .datepicker-end{
    margin-top: 10px;
}

.invisible{
    resize: none;
    visibility:hidden;
}
