.bg{
    background-color: #F5FFFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.header{
    padding-top: 0px;
    background-color: #B3C7D0;
}
.main h1{
    color: #61483D;
    font-size: 50px;
    text-align: center;
}
.body .frame{
    text-align: center;
    margin: auto;
}
.body .frame tr,td{
    border: 3px solid #B3C7D0;
    font-size: 20px;
}
.navigate{
    padding-top: 10px;
}

.navigate .click{
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    border-radius: 10px;/*Button Shape*/
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    width: 280px;
    margin-bottom: 25px;
}
