.bg{
    background-color: #F5FFFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.header{
    background-color: #B3C7D0;
}
.body h1{
    text-align: center;
    color: #61483D;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
}
.body .information tr,td{
    width: 180px;
    height: 35px;
    color: #61483D;
    font-family: 'Raleway', sans-serif;
    /*border: 2px solid #B3C7D0;*/
}

.btn{
    padding-top: 5px;
}

input[type=submit]{
    padding: 5px 5px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 120px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    /*border: 0 none;*/  /*Only enable this if dont want the border*/
}

.click{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    /*border: 0 none;*/  /*Only enable this if dont want the border*/
}

.end{
    padding-top: 20px;
    text-align: center;
}
