.bg{
    background-color: cornflowerblue;
    text-align: center;
}
input[type=submit]{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: #47DABD; /*Button background colour*/
    color: white; /*font color*/
    margin-bottom: 25px;
    /*border: 0 none;*/  /*Only enable this if dont want the border*/
}
.main h1{
    font-size: 50px;
}
.main p{
    font-size: 23px;
}
.fill{
    font-size: 15px;
    font-weight: bold;
}

#errormsg{
    color: #B22222;
}
