.layer1{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.layer2{
    position: relative;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}


.bg{
    background-color: cornflowerblue;
}

.invisible{
    /*visibility:hidden;*/
    display: none;
}

.bigName{
    font-size: 250%;
    font-weight: bold;
}

button{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: #47DABD; /*Button background colour*/
    color: white; /*font color*/
    margin-bottom: 20px;
    /*border: 0 none;*/  /*Only enable this if dont want the border*/
}
.disabled{
    background:#dddddd;
    color:gray;
    cursor:not-allowed;
    opacity:0.5;
}

input[type=submit]{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: #47DABD; /*Button background colour*/
    color: white; /*font color*/
    margin-bottom: 25px;
    /*border: 0 none;*/  /*Only enable this if dont want the border*/
}

.words{
    font-size: 200%;
}

.schedule{
    font-size: 200%;
}

.link {
    font-size: 80%;
    color:white;
}

.map{
    width: 400px;
    height: 250px;
}

.space{
    height: 80px;
}

.search{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 280px;
}
