.bigName{
    font-size: 250%;
    font-weight: bold;
}

button{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 25px;
    border-color: #B3C7D0;
}

.disabled{
    background:#dddddd;
    color:gray;
    cursor:not-allowed;
    opacity:0.5;
}

button#attend, button#reject{
    padding: 5px 5px;
    width: 150px;
    font-size: 20px;
}

.words{
    font-size: 200%;
}

.schedule{
    font-size: 200%;
}

.link {
    font-size: 80%;
    color: #B3C7D0;
}

.timetable .subheader{
    margin-bottom: 0px;
    margin-left: 500px;
    margin-right: 470px;
    font-weight: bold;
    position: relative;
    top: 5px;
    right: 25px;
    cursor: help;
    color: black;
    border: 2px solid black;
    z-index: 1200px;
}

.timetable .boxes{
    text-align: left;
}

.map{
    width: 400px;
    height: 250px;
}

.space{
    height: 80px;
}

.search{
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 280px;
}

.bg{
    background-color: #F5FFFE;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
input[type=submit]{
    padding: 15px 10px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 280px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 25px;
    border-color: #B3C7D0;
}

.header{
    padding-top: 0px;
    background-color: #B3C7D0;
}

.calcdatedisabled{
    padding: 5px 5px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 180px;
    background: #dddddd; /*Button background colour*/
    color: white; /*font color*/
    margin-bottom: 25px;
    font-size: 20px;
    color:gray;
    cursor:not-allowed;
    opacity:0.5;
}

.calcdate{
    padding: 5px 5px; /* Area of space (vertical, horizontal)*/
    border-radius: 10px; /*Button Shape*/
    width: 180px;
    background: Transparent; /*Button background colour*/
    color: #61483D; /*font color*/
    margin-bottom: 25px;
    border-color: #B3C7D0;
    font-size: 20px;
}
    
