<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/friendlist.css" rel="stylesheet"/> <!-- CSS program -->
        <script type="text/javascript" src="static/header.js"></script> <!-- JavaScript program -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
            function printFriends(printList){ 
                var printIndex = 0;
                for (friend in printList){
                    if (printIndex % 2 == 0){
                        document.write('<tr><td colspan="2">');
                        document.write(printList[friend].substring(1,printList[friend].length-1));
                        document.write('</td>');
                    }
                    else{
                        document.write('<td colspan="2">');
                        document.write(printList[friend].substring(1,printList[friend].length-1));
                        document.write('</td></tr>');
                    }
                    printIndex++;
                }
                if (printIndex % 2 == 1){
                    document.write("</tr>");
                }
            }
        </script>
        <title>Friends</title>
    </head>
    <body class = "bg">
        <div class="header container">
            <div class="row">
                <div class="col-md-1">
                    <a href="/home"><img src="static/plainlogo.png" width="75px" height="40px"></img></a>
                </div>
                <div class="col-md-8">
                </div>
                <span><a href="/manage"><img id = "friend" src="static/friend.png" width="50px" height="40px"></img></span></a>
                <span><a href="/managetimetable2?month={{month}}&year={{year}}"><img src="static/calendar.png" width="50px" height="40px"></img></span></a>
                <span><a href="/createevents"><img src="static/createnewevent.png" width="50px" height="40px"></img></span></a>
                <span><a href="/checkevents"><img id = "event" src="static/event.png" width="50px" height="40px"></img></span></a>    
            </div>
            <script>updateHeader({{counter}}, {{numEventReq}});</script>
        </div>  
        <div class="body container">
            <div class = "main">
                <h1>Friend List</h1>
                <table class="frame" width="75%">
                    <tr>
                        <td colspan="4" >You have {{ printList|count }} friend(s).</td>
                    </tr>
                    <script> printFriends({{printList}})</script>
                </table>
            </div>
            <div class = "navigate">
                <div class="row">
                    <div class ="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <button class="click" method ="get" onClick="location.href='/search'">Find Friends</button>
                    </div>
                    <div class="col-md-3">
                        <button class="click" method ="get" onClick="location.href='/viewRequest'">View Friend Request</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <button class="click" method="get" onClick="location.href='/home' ">Back to Home Page</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
