<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/friendlist.css" rel="stylesheet"/> <!-- CSS program -->
        <title>Friends</title>
    </head>
    <body class = "body">
        <div class="container">
            <div class = "main">
                <h1>Friend List</h1>
                {% for friend in printList: %}
                    <p>{{ friend }}</p>
                {% endfor %}
            </div>
            <div class = "navigate">
                <div class="row">
                    <div class ="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <button class="click" method ="get" onClick="location.href='/search'">Find Friends</button>
                    </div>
                    <div class="col-md-3">
                        <button class="click" method ="get" onClick="location.href='/viewRequest'">View Friend Request</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <button class="click" method="get" onClick="location.href='/home' ">Back to Home Page</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
