<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/home.css" rel="stylesheet"/> <!-- CSS program -->
        <title>{{name}}</title>
    </head>
    <body class = "bg">
        <div class="container">
            <h1> Welcome to iJio, {{name}}</h1>
            <p>You have {{counter}} friend requests.</p>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <form action="/manage">
                        <input type="submit" value="Manage Friends">
                    </form>
                </div>
                <div class="col-md-3">
                    <!--ATTN NICKY! changed this to a href to add in the month not sure if it affects anything-->
                    <a href="/managetimetable?month={{month}}">
                        <input type="submit" value="Manage Timetable">
                    </a>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <form action="/createevents">
                        <input type="submit" value="Create Events">
                    </form>  
                </div>           
                <div class="col-md-3">
                    <form action="/checkevents">
                        <input type="submit" value="Check Events"></input>
                    </form>  
                </div>
            </div>
            <div class = "row">
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    <form action="/logout">
                        <input type="submit" value="Logout">
                    </form>  
                </div>           
            </div>
        </div>
    </body>
</html>
