<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/home.css" rel="stylesheet"/> <!-- CSS program -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="static/header.js"></script> <!-- JavaScript program -->
        <title>{{name}}</title>
    </head>
    <body class = "bg">
        <div class="container">
            <div class="header container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="#"><img src="static/plainlogo.png" width="75px" height="40px"></img></a>
                    </div>
                    <div class="col-md-8">
                    </div>
                        <span><a href="/manage"><img id = "friend" src="static/friend.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/managetimetable2?month={{month}}&year={{year}}"><img src="static/calendar.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/createevents"><img src="static/createnewevent.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/checkevents"><img id = "event" src="static/event.png" width="50px" height="40px"></img></span></a>
                    
                </div>
                <script>updateHeader({{counter}}, {{numEventReq}});</script>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <div class="profile">
                        <h1> Welcome to iJio, <a href="/profile">{{name}}</a></h1>
                        <!--<button type="button" class="btn btn-primary btn-sm" method ="get" onClick="location.href='/'">{{name}}</button></h1>-->
                    </div>
                </div>
            </div>
            <div class="request-display">
                {% if counter == "0": %} <!--NOTE: counter is a string -->
                    <p>You have no friend requests.</p>
                {% else: %}
                    <p><a href="/viewRequest">You have {{counter}} friend requests.</a></p>
                {% endif %}
                {% if numEventReq == "0": %}
                    <p>You have no event requests.</p>
                {% else: %}
                    <p><a href="/checkevents">You have {{numEventReq}} event requests.</a></p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <form action="/manage">
                        <input type="submit" value="Manage Friends">
                    </form>
                </div>
                <div class="col-md-3">
                    <a href="/managetimetable2?month={{month}}&year={{year}}">
                        <input type="submit" value="Manage Timetable">
                    </a>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <form action="/createevents">
                        <input type="submit" value="Create Events">
                    </form>  
                </div>           
                <div class="col-md-3">
                    <form action="/checkevents">
                        <input type="submit" value="Check Events"></input>
                    </form>  
                </div>
            </div>
            <div class = "row">
                <div class="button">
                    <form action="/logout">
                        <input type="submit" value="Logout">
                    </form>  
                </div>
            </div>
        </div>
    </body>
</html>
