<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/main.css" rel="stylesheet"/> <!-- CSS program -->
        <title>iJio Main Page</title>
    </head>
    <body class = "bg">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <div class="header container">
            <div class="row">
                <div class="col-md-2">
                    <img src="static/plainlogo.png" width="75px" height="25px"></img>
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-1">
                    <a href="/login"><img src="static/loginregister.png" alt="Login/Register" width="100px" height="25px"></img></a>
                </div>
            </div>
        </div>
        <div class="main container">
            <h1>Jio your friends for a <b>run.</b> </h1>
        </div>
        <div class="body container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="frame">
                        <tr>
                            <td colspan="2">
                                <img src="static/iJio coverflashy.png" width="380px" height="275px" style="float:left"></img>
                            </td>
                            <td colspan="2" width="380px" style="vertical-align:text-top; padding:20px">
                                <p>iJio, the new way to plan outings.<br><br>
                                With iJio there's no more pain,<br>
                                never say bojio again.</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <img class="feature" src="static/feature2.png"></img>
                            </td>
                            <td colspan="1">
                                <img class="feature" src="static/feature1.png"></img>
                            </td>
                            <td colspan="1">
                                <img class="feature" src="static/feature3.png"></img>
                            </td>
                            <td colspan="1">
                                <img class="feature" src="static/feature4.png"></img>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="fb-like" data-href="http://ijio-app.appspot.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
