<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/timetable.css" rel="stylesheet"/> <!-- CSS program -->
        <title>{{eventname}}</title>
    </head>
    <body class = 'bg'>
        <div class = "bigName">
            Event Created!
        </div>
        <div class = "words">
            <p>Event: {{eventname}} @ {{eventloc}}
            <p>Invited Users: {{invited}}
            <p>Date Range: {{startdate}} to {{enddate}}            
            <p>Description of event: {{description}}
            <p>
        </div>
    </body>
