<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <script type="text/javascript" src="static/header.js"></script> <!-- JavaScript program -->
        <link type="text/css" href="/stylesheets/profile.css" rel="stylesheet"/> <!-- CSS program -->
         <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <title>Profile</title>
        <script>
            function updateStatus() {
                var x = document.forms["statusform"]["statusmsg"].value;
                if (x == "None" || x == "") {
                    alert("Please update your status!");
                    return false;
                }
                else if (x == "{{status}}"){
                    alert("You have not changed your status!");
                    return false;
                }
                else{
                    alert("Status updated!");
                    return true;
                }
            }   
        </script>
    </head>
    <body class = "bg">
        <div class="header container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="/home"><img src="static/plainlogo.png" width="75px" height="40px"></img></a>
                    </div>
                    <div class="col-md-8">
                    </div>
                        <span><a href="/manage"><img id = "friend" src="static/friend.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/managetimetable2?month={{month}}&year={{year}}"><img src="static/calendar.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/createevents"><img src="static/createnewevent.png" width="50px" height="40px"></img></span></a>
                        <span><a href="/checkevents"><img id = "event" src="static/event.png" width="50px" height="40px"></img></span></a>
                    
                </div>
                <script>updateHeader({{counter}}, {{numEventReq}});</script>
        </div>
        
        <div class="body container">
            <h1> Your profile</h1>
            <div class="information">
                <div class="col-md-3"></div>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td colspan="1">Your name:</td>
                            <td colspan="1"><input type="text" value="{{name}}" disabled></td>
                        </tr>
                        <tr>
                            <td colspan="1">Email Address:</td>
                            <td colspan="1"><input type="text" value="{{email}}" disabled></td>
                        </tr>
                        <tr>
                            <form name="statusform" action="/updatestatus" method="post" onsubmit="return updateStatus()">
                                <td colspan="1">Personal Status Message: </td>
                                <td colspan="2"><input type="text" name="statusmsg" value="{{status}}"></td>
                                <td class="pull-left"><input type="submit" value="Change Status"></td>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="end">
            <button class="click" method="get" onClick="location.href='/home' ">Back to Home Page</button>
        </div>
    </body>
</html>
