<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/register.css" rel="stylesheet"/> <!-- CSS program -->
        <title>Register</title>
        <script>
            function validateForm() {
                var x = document.forms["nameForm"]["content"].value;
                if (x.trim() == "") {
                    alert("Your name cannot be blank!");
                    return false;
                }
            }   
        </script>
    </head>
    <body class = "body">
        <div class = "message">
            <h1>Thank you for registering!</h1>
            <p>Please enter your name to complete registration.
            <p>Note: Name cannot be changed once set.
            <p>What is your name?
        </div>
        <div class = "input">
            <form name="nameForm" action ="/update" onsubmit = "return validateForm()" method="POST">
                <textarea name="content">Firstname Lastname</textarea>
                <p>
                <input type="submit" value="Submit Name">
            </form>
        </div>
    </body>
</html>
