<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/timetable2.css" rel="stylesheet"/> <!-- CSS program -->
        <title>Test</title>
        <script type = "text/javascript" src = "static/printer.js"></script>        
    </head>
    <body class = 'bg'>
        <div class = "container">
            <div class = "bigName">
                Test #1
            </div>
            <div class="row">
                <div class="col-md-12">
                        <img src="static/Day.png">
                        <br><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png">
                        <br><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png"><img src="static/greensq50.png">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="space"></div>
            <div class = "row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button method="get" onClick="location.href='/checkevents' ">Back to Events</button>
                </div>
                <div class="col-md-3">
                    <button method="get" onClick="location.href='/home' ">Back to Home Page</button>
                <div>
            </div>
        </div>      
    </body>
</html>
