<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="static/header.js"></script> <!-- JavaScript program -->
        <link type="text/css" href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap (custom classes) -->
        <link type="text/css" href="/stylesheets/viewrequests.css" rel="stylesheet"/> <!-- CSS program -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> <!-- Load jQuery -->
		<script type="text/javascript" src="static/viewrequests.js"></script> <!-- JavaScript program -->
        <title>Friend Requests</title>
    </head>
    <body class = 'bg'>
        <div class="header container">
            <div class="row">
                <div class="col-md-1">
                    <a href="/home"><img src="static/plainlogo.png" width="75px" height="40px"></img></a>
                </div>
                <div class="col-md-8">
                </div>
                <span><a href="/manage"><img id = "friend" src="static/friend.png" width="50px" height="40px"></img></span></a>
                <span><a href="/managetimetable2?month={{month}}&year={{year}}"><img src="static/calendar.png" width="50px" height="40px"></img></span></a>
                <span><a href="/createevents"><img src="static/createnewevent.png" width="50px" height="40px"></img></span></a>
                <span><a href="/checkevents"><img id = "event" src="static/event.png" width="50px" height="40px"></img></span></a>
            </div>
            <script>updateHeader({{counter}}, {{numEventReq}});</script>
        </div>
        <div class = "container">
            <div class="main">
                <h1> View Friend Requests</h1>
                {% if counter == 0: %}
                    <p>You have no friend requests.</p>
                {% else: %}
                    <h2>Friend Requests: </h2>
                    {% for friend in requestList: %}
                        {% if friend[2] == False: %}
                            <div class="row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3">
                            {{ friend[0] }}
                            <button class="accFriend" method="get" onClick="location.href='/acceptFriend?value={{friend[1]}}'">Accept Friend</button>
                            </div>
                        {% else: %}
                            <div class="col-md-3">
                            {{ friend[0] }}
                            <button class="accFriend" method="get" onClick="location.href='/acceptFriend?value={{friend[1]}}'">Accept Friend</button>
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <p></p>
            <button class="click" method="get" onClick="location.href='/home' ">Back to Home Page</button>
        </div>
    </body>
</html>
